header {
  width: 80%;
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
}

.header-logo {
  display: block;
  width: 150px;
  height: 150px;
  margin: 15px auto;
  margin-bottom: 0;
}

.header-text {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recipe-card {
  flex: 1 1 0%;
}

.recipe-image {
  display: block;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border-radius: 5%;
}

.recipe-name {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}
